%section.section.has-text-centered#inquiry
  .title
    %h2
      オーダー・お問い合わせ
  .inquiry
    %span.icon.is-medium
      = link_to 'https://www.facebook.com/leather0port/' do
        %i.fa.fa-facebook-official
    %span.icon.is-medium
      = link_to 'https://www.instagram.com/hobu_leather_port/' do
        %i.fa.fa-instagram
    %span.icon.is-medium
      = link_to 'https://twitter.com/hobu_chan' do
        %i.fa.fa-twitter
    %span.icon.is-medium
      = link_to 'mailto:info_pipinika@leather-port.com' do
        %i.fa.fa-envelope
%section.section#inquiry-desc
  %h2
    ～LEATHER PORT取り扱い製品のオーダー方法～
  %h3
    1. メールオーダー
  %p
    メールにて各種製品のオーダーフォームをお配りし、ご記入頂いております。メールオーダーはその全てを、LEATHER PORT責任者・井熊が対応させて頂きます。過去を振り返ると、ブーツやベルトの多くは、メールオーダーにてお承りしております。）：
    = link_to 'info_pipinika@leather-port.com', 'mailto:info_pipinika@leather-port.com',
      style: 'text-decoration: underline;'
  %h3
    2. 『かくれ里』での直接オーダー
  %p
    〒270-2328 千葉県印西市滝883-20（最寄駅：北総線『印西牧の原』駅）
  <br />
  %h2
    ※メールオーダーの流れ（アイアンブーツの場合）
  %ol
    %li
      サイジング（アイアンブーツ工房指定のサイジング方法にもとづき、「足長」及び「足囲」をｍｍ単位で計測頂いております。自宅でどなたでも出来る、シンプルな方法です。※メジャーが必要です。）
    %li
      オーダーフォームご記入
    %li
      サイジング結果を工房に提出し、ご希望のモデルに応じた“工房推奨サイズ”を割り出す
    %li
      最終オーダー内容（「最終オーダーサイズ」含む）の決定、ご確認
    %li
      ご入金
    %li
      工房へ正式発注
  %p
    ※なお、「正式発注」後、約3ヵ月半前後でのお届けとなります（あくまで目安です）。ご了承下さいませ。
%footer.footer
  .container
    .content.has-text-centered
      %p
        Copyright © 2016-2017 <strong>LEATHER PORT</strong> All Rights Reserved.

