.nav
  .nav-left
    = link_to 'LEATHER PORTについて', '/', class: 'nav-item'
    = link_to '運営者（ほぶ）', '/hobu', class: 'nav-item'
    = link_to '取り扱い商品', '/products', class: 'nav-item'
  .nav-right.nav-menu
    = link_to 'アクセス', '/access', class: 'nav-item'
    = link_to 'お問い合わせ', '#inquiry', class: 'nav-item'
  %span.nav-toggle
    %span
    %span
    %span
