%section.hero.product-detail
  .title
    %figure.image
      = image_tag('5515_1.jpg', width: '100%')
      %figcaption
        %h2
          Iron Boots 5515
        %p
          1955年のアメリカ空軍で使用していたミリタリーブーツをラストに採用した、マンソンブーツ。
        %p
          アイアンブーツの原点であり、看板モデル。
%section.hero.product
  .container
    .hero-body
      .columns.is-mobile.is-multiline
        .column.is-half-tablet.is-full-mobile
          = image_tag('5515_2.jpg', width: '100%')
          = image_tag('5515_3.jpg', width: '100%')
          = image_tag('5515_4.jpg', width: '100%')
          = image_tag('5515_5.jpg', width: '100%')
          = image_tag('5515_6.jpg', width: '100%')
          = image_tag('5515_7.jpg', width: '100%')
        .column.is-half-tablet.is-full-mobile.product-spec
          %h2
            Upper (Select) & Price:
          %ul
            %li
              Horween Chromexcel(USA)2.2mm-2.4mm
              .is-clearfix
              %i.fa.fa-long-arrow-right
                48800 Yen (without Tax)
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_1.jpg')
                %figcaption
                  ブラック
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_2.jpg')
                %figcaption
                  バーガンディー
              .is-clearfix
            %li
              Horween Cavalier(USA)2.0±0.2mm
              .is-clearfix
              %i.fa.fa-long-arrow-right
                54800 Yen (without Tax)
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_3.jpg')
                %figcaption
                  エメラルドグリーン
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_4.jpg')
                %figcaption
                  ワインレッド
              .is-clearfix
            %li
              European Bull Hide（Italy）2.0mm-2.2mm/★Vegetable Tanned
              %i.fa.fa-long-arrow-right
                54800 Yen (without Tax)
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_5.jpg')
                %figcaption
                  ブラック
              .is-clearfix
            %li
              Full Grain Horsehide（Italy）1.68-1.8mm/★Vegetable Tanned
              %i.fa.fa-long-arrow-right
                59800 Yen (without Tax)
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_6.jpg')
                %figcaption
                  工房天日干しナチュラル
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_7.jpg')
                %figcaption
                  ブラック
          %p.footnote
            ※革の色味/質感は、時期や個体によって若干の差がございます。また、写真は実物を100％反映出来ない場合があります。
          %p.footnote
            ※その時その時の皮革の品質状況に応じて、ラインナップに変動が生じる場合がございます。
          %h2
            Lining:
          %ul
            %li
              Full Leather Lining(Super Extreamly Comfort Cowhide/Turkey) 1.4mm-1.5mm
          %p.footnote
            ※アッパーレザーがフルグレインホースハイドの場合、ヴァンプライニング（前足部内張り革）もフルグレインホースハイドレザーの特別仕様となります。
          %p.footnote
            ※5515ラストでアッパーレザーがクロムエクセルの場合、快適性を考慮し、クォーターライニング（後足部内張り革）は無しとなります（2017.4～）。ヴァンプライニング（前足部内張り革）のみの仕様となりますので、ご留意下さいませ。
          %h2
            Insole:
          %ul
            %li
              Argentine SDS Leather/A rank(Argentine)3.5±0.2mm/★Vegetable Tanned
          %h2
            Midsole:
          %ul
            %li
              Chestnut Tannin Hard Leather(Italy)5.0mm/★Vegetable Tanned
          %h2
            Outsole:
          %ul
            %li
              Rubber Sole(Iron Boots Original)
            %li
              Leather Sole(Italy)5.0mm
              %i.fa.fa-long-arrow-right
                5,500 Yen (without Tax)
            %li
              Oak Bark Sole Bends(England J.&F.J.BAKER)4.5mm-5.0mm
              %i.fa.fa-long-arrow-right
                10,500 Yen (without Tax)
          %p.footnote
            ※イタリア製レザーソール及びオークバークソールベンズカスタムの場合、エッジ（コバ）カラーと底面カラーをそれぞれ【ブラック】、【ブラウン】から組み合わせてお選び頂けます。
          %p.footnote
            ※オークバークソールベンズは生産量・供給量ともに少ない為、オーダー状況によっては、アイアンブーツ工房に在庫が無い場合がございます。お手数ですが、在庫状況はオーダー時にお問合せ下さい。
          %h2
            Construction:
          %ul
            %li
              Hand Sewn Welted
          %h2
            その他:
          %ul
            %li
              【オールハトメ】もしくは、【スピードフック装備（上から3つがスピードフックになります）】を無料にてご選択頂いております。
