%section.hero.product-detail
  .title
    %figure.image
      = image_tag('cleaf_1.jpg', width: '100%')
      %figcaption
        %h2
          C'leaf
        %p
          “最高品質”を、“オーダーメイド”で。
%section.hero.product
  .container
    .hero-body
      .columns.is-mobile.is-multiline
        .column.is-half-tablet.is-full-mobile
          = image_tag('cleaf_2.jpg', width: '100%')
          = image_tag('cleaf_3.jpg', width: '100%')
          = image_tag('cleaf_4.jpg', width: '100%')
          = image_tag('cleaf_5.jpg', width: '100%')
          = image_tag('cleaf_6.jpg', width: '100%')
        .column.is-half-tablet.is-full-mobile.product-spec
          %p
            同じタンナーの
            <br />
            同じ規格のレザー
            <br />
            同じ“ベンズ部（牛の部位の中で最も皮革繊維密度が高く、丈夫で質の良い部分）”の中でも……
            <br />
            最高品質とは言えないベンズ個体は、いくらC'leaf職人が技術を費やしてコバ処理をかけても、宝石の様な仕上がりにはなりません。
          %p
            ほんの微妙な差ですが、C'leaf職人は極限まで繊細にコバ処理をかける為、革の品質の寸分の差が、全ての勝敗を分けてしまいます。
            <br />
            同じレシピで鞣されたレザーでも、そもそも原皮段階で個体差が存在する場合もあるので、こればかりは避けられない問題です。
          %p
            では、“最高品質”のベルトを目指す為には、どうすれば良いか。
            <br />
            “セドウィック社ブライドルレザーのベンズ部”という名前の上に、あぐらをかいていてはダメです。
            <br />
            ベンズ部の中でも、職人自らが目で見て、手で触れて、“最高品質”の物を探し出さなくてはなりません。
          %p
            したがって、C'leafでは、あくまでも「革ありき」の製作を前提としています。
            <br />
            職人自ら、英国ブライドルレザー（ベンズ部）の中より“最高品質”を厳選し、納得のいく品質の個体に出会えた場合のみ、ベルトをハンドメイドしています。
            <br />
            C'leafが時として、カラーによってはオーダーを承れない事があるのは、その為(いわゆる“革待ち”状態の時)です。
          %p
            ※アナログなやり方で申し訳ないですが、最高のベルトだけを作るには、現状このやり方でやるしかなさそうです。C’leafの職人精神に免じて、ご理解いただけますと幸いです。
        .column.is-full.product-spec
          %h2
            採用レザー:
          %p
            英国セドウィック社ブライドルレザー（部位：ベンズ※最高品質を厳選/3.8cm幅、4.0mm厚）
          %h2
            お選び頂けるカラー及びお値段:
          %ul
            %li
              ブラウン
              .is-clearfix
              %i.fa.fa-long-arrow-right
                21,800円（税抜）
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('cleaf_color_1.jpg')
              .is-clearfix
            %li
              ダークブラウン
              .is-clearfix
              %i.fa.fa-long-arrow-right
                21,800円（税抜）
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('cleaf_color_2.jpg')
              .is-clearfix
            %li
              モスグリーン
              .is-clearfix
              %i.fa.fa-long-arrow-right
                21,800円（税抜）
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('cleaf_color_3.jpg')
              .is-clearfix
            %li
              ネイビーブルー
              .is-clearfix
              %i.fa.fa-long-arrow-right
                21,800円（税抜）
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('cleaf_color_4.jpg')
              .is-clearfix
            %li
              芯通し染ブラック (コバまでブラックになりますので、ビジネス用ベルトの作製にも適しています。)
              .is-clearfix
              %i.fa.fa-long-arrow-right
                23,800円（税抜）
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('cleaf_color_5.jpg')
              .is-clearfix
          %p.footnote
            ※カラーによっては、最高品質の“革待ち”状態の場合、在庫が無い場合がございます。詳しくは下記アドレスにてお問い合わせ下さい
            = link_to '問い合わせ', '#inquiry', style: 'text-decoration: underline;'
          %h2
            完全オーダーメイド制(下記をご指定頂けます):
          %ol
            %li
              ①全長:革本体（＝バックルを含まない）の端から端(cm)
            %li
              ②“ジャスト止め穴”までの長さ(cm)
            %li
              ③止め穴総数（3つor4つ）
              %p.footnote
                ※C'leaf職人の考えでは、長さを指定したオーダーメイドベルトである以上、【止め穴3つ】が最も完成されたオーダーメイドベルトです。体重変動が大きくどうしても不安な方には、保険をける意味も込めて、止め穴総数4つでも可、という具合です。
            %li
              ④剣先のパターン(V字型、ブレード型、台形型)
            %li
              ⑤バックルの種類（真鍮製をおすすめしております。※お選び頂ける真鍮製のバックルの一例を掲載致しますが、在庫状況に応じて随時変動の可能性がございます。詳しくは、オーダー時にお問い合わせ下さいませ）
              .columns.is-multiline.is-mobile
                .column.is-quarter-mobile
                  %figure.image.has-text-centered.is-1by1
                    = image_tag('cleaf_buckle_1.jpg', width: '100%')
                .column.is-quarter-mobile
                  %figure.image.has-text-centered.is-1by1
                    = image_tag('cleaf_buckle_2.jpg', width: '100%')
                .column.is-quarter-mobile
                  %figure.image.has-text-centered.is-1by1
                    = image_tag('cleaf_buckle_3.jpg', width: '100%')
                .column.is-quarter-mobile
                  %figure.image.has-text-centered.is-1by1
                    = image_tag('cleaf_buckle_4.jpg', width: '100%')
                .column.is-quarter-mobile
                  %figure.image.has-text-centered.is-1by1
                    = image_tag('cleaf_buckle_5.jpg', width: '100%')
                .column.is-quarter-mobile
                  %figure.image.has-text-centered.is-1by1
                    = image_tag('cleaf_buckle_6.jpg', width: '100%')
                .column.is-quarter-mobile
                  %figure.image.has-text-centered.is-1by1
                    = image_tag('cleaf_buckle_7.jpg', width: '100%')
                .column.is-quarter-mobile
                  %figure.image.has-text-centered.is-1by1
                    = image_tag('cleaf_buckle_8.jpg', width: '100%')
            %li
              ⑥コバ処理の有無（“有”の場合、宝石のような光沢と質感の超絶コバ処理になります）
          %h2
            製作期間
          %p
            4週間程度目安(オーダー状況により、変動致します)
