%section.hero.product-detail
  .title
    %figure.image
      = image_tag('devil_dog_1.jpg', width: '100%')
      %figcaption
        %h2
          Devil Dog
        %p
          1952年のアメリカ海兵隊（United States Marine Corp）が使用していたミリタリーブーツをラストに採用。
        %p
          当時のアメリカ海兵隊は、その無類の強さから敵のドイツ軍より「Devil Dog」として恐れられました。
        %p
          抜群に足の返りが良いウェルト無しステッチダウン製法（ダブルステッチ）、人間工学に基づきあえて【内高/外低】の傾斜をつけたヒール、反り返った前足部のラスト……歩きやすさと履き心地に特化して開発された、アイアンブーツ珠玉のモデル。
%section.hero.product
  .container
    .hero-body
      .columns.is-mobile.is-multiline
        .column.is-half-tablet.is-full-mobile
          = image_tag('devil_dog_2.jpg', width: '100%')
          = image_tag('devil_dog_3.jpg', width: '100%')
          = image_tag('devil_dog_4.jpg', width: '100%')
          = image_tag('devil_dog_5.jpg', width: '100%')
          = image_tag('devil_dog_6.jpg', width: '100%')
          = image_tag('devil_dog_7.jpg', width: '100%')
        .column.is-half-tablet.is-full-mobile.product-spec
          %h2
            Upper (Select) & Price:
          %ul
            %li
              European Bull Hide（Italy）2.0mm-2.2mm/★Vegetable Tanned
              .is-clearfix
              %i.fa.fa-long-arrow-right
                63800 Yen (without Tax)
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_5.jpg')
                %figcaption
                  ブラック
              .is-clearfix
            %li
              Full Grain Horsehide（Italy）1.68-1.8mm/★Vegetable Tanned
              .is-clearfix
              %i.fa.fa-long-arrow-right
                68800 Yen (without Tax)
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_6.jpg')
                %figcaption
                  工房天日干しナチュラル
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_7.jpg')
                %figcaption
                  ブラック
              .is-clearfix
          %p.footnote
            ※革の色味/質感は、時期や個体によって若干の差がございます。また、写真は実物を100％反映出来ない場合があります。
          %p.footnote
            ※その時その時の皮革の品質状況に応じて、ラインナップに変動が生じる場合がございます。
          %h2
            Lining:
          %ul
            %li
              Full Leather Lining(Super Extreamly Comfort Cowhide/Turkey) 1.4mm-1.5mm
          %p.footnote
            ※アッパーレザーがフルグレインホースハイドの場合、ヴァンプライニング（前足部内張り革）もフルグレインホースハイドレザーの特別仕様となります。
          %h2
            Insole:
          %ul
            %li
              Chestnut Tannin Leather(Italy)3.0mm/★Vegetable Tanned
          %h2
            Midsole:
          %ul
            %li
              Chestnut Tannin Hard Leather(Italy)5.0mm/★Vegetable Tanned
          %h2
            Outsole:
          %ul
            %li
              Leather Sole(Italy)
            %li
              Rubber Sole(Iron Boots Original) ※オールラバーソール
            %li
              Oak Bark Sole Bends(England J.&F.J.BAKER)4.5mm-5.0mm
              %i.fa.fa-long-arrow-right
                10,500 Yen (without Tax)
          %p.footnote
            ※イタリア製レザーソール及びオークバークソールベンズカスタムの場合、エッジ（コバ）カラーと底面カラーをそれぞれ【ブラック】、【ブラウン】から組み合わせてお選び頂けます。
          %p.footnote
            ※オークバークソールベンズは生産量・供給量ともに少ない為、オーダー状況によっては、アイアンブーツ工房に在庫が無い場合がございます。お手数ですが、在庫状況はオーダー時にお問合せ下さい。
          %p.footnote
            ※デビルドッグの場合、イタリア製レザーソールかラバーソール（オールラバーソール）かを無料にてセレクト頂けます。デビルドッグは履き心地に特化して開発されたモデルですので、「どうしてもラバーソールでないと困る！」という方以外は、より足の返りに優れた、レザーソールを試される事を推奨致します。
          %h2
            Construction:
          %ul
            %li
              Stitchdown（Hand Sewn）
