
%section.hero.product-detail
  .title
    %figure.image
      = image_tag('flt_1.jpg', width: '100%')
      %figcaption
        %h2
          Iron Boots FLT
        %p
          アイアンブーツがお届けする、スプリットトゥタイプの“ドレスブーツ”。
        %p
          履き心地だけでなく、より洗練されたスタイリッシュさをお求めの方におすすめです。
%section.hero.product
  .container
    .hero-body
      .columns.is-mobile.is-multiline
        .column.is-half-tablet.is-full-mobile
          = image_tag('flt_2.jpg', width: '100%')
          = image_tag('flt_3.jpg', width: '100%')
          = image_tag('flt_4.jpg', width: '100%')
        .column.is-half-tablet.is-full-mobile.product-spec
          %h2
            Upper (Select) & Price:
          %ul
            %li
              Taiwan Oiled Leather(Taiwan)2.2mm-2.4mm
              .is-clearfix
              %i.fa.fa-long-arrow-right
                47800 Yen (without Tax)
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_8.jpg')
                %figcaption
                  ブラック
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_9.jpg')
                %figcaption
                  レッド
              .is-clearfix
            %li
              Horween Cavalier(USA)2.0±0.2mm
              .is-clearfix
              %i.fa.fa-long-arrow-right
                56800 Yen (without Tax)
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_3.jpg')
                %figcaption
                  エメラルドグリーン
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_4.jpg')
                %figcaption
                  ワインレッド
              .is-clearfix
            %li
              European Bull Hide（Italy）2.0mm-2.2mm/★Vegetable Tanned
              %i.fa.fa-long-arrow-right
                56800 Yen (without Tax)
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_5.jpg')
                %figcaption
                  ブラック
              .is-clearfix
          %p.footnote
            ※革の色味/質感は、時期や個体によって若干の差がございます。また、写真は実物を100％反映出来ない場合があります。
          %p.footnote
            ※その時その時の皮革の品質状況に応じて、ラインナップに変動が生じる場合がございます。
          %h2
            Lining:
          %ul
            %li
              Full Leather Lining(Super Extreamly Comfort Cowhide/Turkey) 1.4mm-1.5mm
          %h2
            Insole:
          %ul
            %li
              Argentine SDS Leather/A rank(Argentine)3.5±0.2mm/★Vegetable Tanned
          %h2
            Midsole:
          %ul
            %li
              Chestnut Tannin Hard Leather(Italy)3.0mm/★Vegetable Tanned
          %h2
            Outsole:
          %ul
            %li
              Rubber Sole(Iron Boots Original)※オールラバーソール
            %li
              Leather Sole(Italy)5.0mm
              %i.fa.fa-long-arrow-right
                5500 Yen (without Tax)
            %li
              Oak Bark Sole Bends(England J.&F.J.BAKER)4.5mm-5.0mm
              %i.fa.fa-long-arrow-right
                10,500 Yen (without Tax)
          %p.footnote
            ※イタリア製レザーソール及びオークバークソールベンズカスタムの場合、エッジ（コバ）カラーと底面カラーをそれぞれ【ブラック】、【ブラウン】から組み合わせてお選び頂けます。
          %p.footnote
            ※オークバークソールベンズは生産量・供給量ともに少ない為、オーダー状況によっては、アイアンブーツ工房に在庫が無い場合がございます。お手数ですが、在庫状況はオーダー時にお問合せ下さい。
          %p.footnote
            ※FLTラストでレザーソール仕様をお選び頂いた場合、5515ラストとは異なり、より接地感を出す目的で、ウェルトのすぐ下にレザーソールが敷かれます（＝ミッドソールが敷かれません）。
          %h2
            Construction:
          %ul
            %li
              Hand Sewn Welted
          %h2
            その他:
          %ul
            %li
              【オールハトメ】もしくは、【スピードフック装備（上から3つがスピードフックになります）】を無料にてご選択頂いております。
