
%section.hero.product-detail
  .title
    %figure.image
      = image_tag('flti_1.jpg', width: '100%')
      %figcaption
        %h2
          Iron Boots FLT・改
        %p
          アイアンブーツFLTと同一ラストを採用した、ウィングチップタイプのドレスブーツ。
        %p
          ブローグとメダリオンが施され、より存在感のあるアッパーデザインとなっています。
%section.hero.product
  .container
    .hero-body
      .columns.is-mobile.is-multiline
        .column.is-half-tablet.is-full-mobile
          = image_tag('flti_2.jpg', width: '100%')
          = image_tag('flti_3.jpg', width: '100%')
          = image_tag('flti_4.jpg', width: '100%')
          = image_tag('flti_5.jpg', width: '100%')
          = image_tag('flti_6.jpg', width: '100%')
        .column.is-half-tablet.is-full-mobile.product-spec
          %h2
            Upper (Select) & Price:
          %ul
            %li
              Taiwan Oiled Leather(Taiwan)2.2mm-2.4mm
              .is-clearfix
              %i.fa.fa-long-arrow-right
                47800 Yen (without Tax)
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_8.jpg')
                %figcaption
                  ブラック
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_9.jpg')
                %figcaption
                  レッド
              .is-clearfix
            %li
              Horween Cavalier(USA)2.0±0.2mm
              .is-clearfix
              %i.fa.fa-long-arrow-right
                56800 Yen (without Tax)
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_3.jpg')
                %figcaption
                  エメラルドグリーン
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_4.jpg')
                %figcaption
                  ワインレッド
              .is-clearfix
            %li
              European Bull Hide（Italy）2.0mm-2.2mm/★Vegetable Tanned
              %i.fa.fa-long-arrow-right
                56800 Yen (without Tax)
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_5.jpg')
                %figcaption
                  ブラック
              .is-clearfix
            %li
              Full Grain Horsehide（Italy）1.68-1.8mm/★Vegetable Tanned
              %i.fa.fa-long-arrow-right
                61800 Yen (without Tax)
              .is-clearfix
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_6.jpg')
                %figcaption
                  工房天日干しナチュラル
              %figure.image.has-text-centered.leather-sample
                = image_tag('leather_sample_7.jpg')
                %figcaption
                  ブラック
          %p.footnote
            ※革の色味/質感は、時期や個体によって若干の差がございます。また、写真は実物を100％反映出来ない場合があります。
          %p.footnote
            ※その時その時の皮革の品質状況に応じて、ラインナップに変動が生じる場合がございます。
          %h2
            Lining:
          %ul
            %li
              Full Leather Lining(Super Extreamly Comfort Cowhide/Turkey) 1.4mm-1.5mm
          %h2
            Insole:
          %ul
            %li
              Argentine SDS Leather/A rank(Argentine)3.5±0.2mm/★Vegetable Tanned
          %h2
            Midsole:
          %ul
            %li
              Chestnut Tannin Hard Leather(Italy)3.0mm/★Vegetable Tanned
          %h2
            Outsole:
          %ul
            %li
              Rubber Sole(Iron Boots Original)※オールラバーソール
            %li
              Leather Sole(Italy)5.0mm
              %i.fa.fa-long-arrow-right
                5500 Yen (without Tax)
          %p.footnote
            ※FLTラストでレザーソール仕様をお選び頂いた場合、5515ラストとは異なり、より接地感を出す目的で、ウェルトのすぐ下にレザーソールが敷かれます（＝ミッドソールが敷かれません）。
          %h2
            Construction:
          %ul
            %li
              Hand Sewn Welted
          %h2
            その他:
          %ul
            %li
              【オールハトメ】もしくは、【スピードフック装備（上から3つがスピードフックになります）】を無料にてご選択頂いております。
