%section.hero.product-detail
  .title
    %figure.image
      = image_tag('own_belt_1.jpg', width: '100%')
      %figcaption
        %h2
          OWN BELT
        %p
          真っ白でキメが細かく、極上のエイジングが味わえるイタリア製ヌメ革。
        %p
          そんなイタリアヌメの“ベンズ部（牛の部位の中で最も皮革繊維密度が高く、丈夫で質の良い部分）”のみを厳選し、職人がハンドメイドしているベルトです。
        %p
          使用に伴い、美しいアメ色にエイジングしていきます。
%section.hero.product
  .container
    .hero-body
      .columns.is-mobile.is-multiline
        .column.is-half-tablet.is-full-mobile
          = image_tag('own_belt_2.jpg', width: '100%')
          = image_tag('own_belt_3.jpg', width: '100%')
          = image_tag('own_belt_4.jpg', width: '100%')
          = image_tag('own_belt_5.jpg', width: '100%')
        .column.is-half-tablet.is-full-mobile.product-spec
          %h2
            仕様:
          %p
            イタリア製ヌメ革/部位：ベンズ/3.9cm幅、4.0mm厚/OWNオリジナルロゴ刻印真鍮バックル
          %h2
            サイズ展開:
          %h3
            S-M-L
          %p
            下記の表をご参照頂き、ぜひ普段お使いのベルトとお比べの上ご選択下さい。
          .columns.is-mobile.is-multiline
            .column.is-full
              = image_tag('own_belt_7.jpg', width: '100%')
            .column.is-full
              = image_tag('own_belt_6.jpg', width: '100%')
          %h2
            Price:
          %p
            %i.fa.fa-long-arrow-right
              12,800 Yen (without Tax)
%section.hero.product-detail
  %figure.image.has-text-centered
    = image_tag('own_belt_9.jpg', width: '100%')
    %figcaption
      %h2
        着用半年のOWN BELT
