%section.hero.product-detail
  .title
    %figure.image
      = image_tag('IMG_2983.JPG', width: '100%')
      %figcaption
        %h2
          Iron Boots 5515
        %p
          1955年のアメリカ空軍で使用していたミリタリーブーツをラストに採用した、マンソンブーツ。 
        %p
          アイアンブーツ発足から4度の改良を経て、現在の形に至った、アイアンブーツの看板モデル。 
%section.hero.product
  .container
    .hero-body
      .columns.is-mobile.is-multiline
        .column.is-half-tablet.is-full-mobile
          = image_tag('S__41623568.jpg', width: '100%')
          = image_tag('S__41623569.jpg', width: '100%')
          = image_tag('S__41623570.jpg', width: '100%')
        .column.is-half-tablet.is-full-mobile
          %p
            ●Upper:
            <br/ >
            Horween Chromexcel(USA)2.2mm-2.4mm/ European Bull Hide（Italy）2.0mm-2.2mm
          %p
            ●Lining:
            <br/ >
            Full Leather Lining(Argentine Cow Hide 1.3mm)
          %p
            ●Insole:
            <br/ >
            Argentine SDS Shoulder Leather(Argentine)
          %p
            ●Midsole:
            <br/ >
            Natural Leather(Italy)
          %p
            ●Outsole:
            <br/ >
            Rubber Sole(Iron Boots Original)/Leather Sole(Italy)
          %p
            ●Hand Sewn Welted
%section.hero
  .container
    .hero-body
      .title
        価格・仕様例
%section.hero.product-detail
  .title
    %figure.image
      = image_tag('IMG_3947.JPG', width: '100%')
      %figcaption
        %h2
          1. Horween Chromexcel Leather
        %p
          1905年アメリカシカゴにて創業の老舗タンナー、ホーウィン社よりクロムエクセルレザー。
          <br />
          厳選された原皮を“コンビなめし”によりなめした、光沢があり油分の豊富な皮革です。
          <br />
          アイアンブーツでは、2.2mm-2.4mm厚の規格を採用しています。茶芯。
        %p
          ◆Price
          <br />
          ¥48,800 (税抜)
