%section#access-hero.hero.is-light.has-text-centered
  .hero-body
    .container
      .title#access-title
        和食処『かくれ里』展示スペース
%section.hero.access
  .container
    .hero-body
      .columns.is-mobile.is-multiline
        .column.is-full
          %p
            ●住所：〒270-2328 千葉県印西市滝883-20（最寄駅：北総線『印西牧の原』駅）
          %p
            『かくれ里』ホームページ：
            = link_to 'http://www.kakurezato.net/', 'http://www.kakurezato.net/',
              style: 'text-decoration: underline;'
        .column.is-full
          .ggmap
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3235.176392338612!2d140.17025285128716!3d35.820147680064736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60227cdaace6b5d1%3A0x524e21daacb0a7d3!2z44CSMjcwLTIzMjgg5Y2D6JGJ55yM5Y2w6KW_5biC5rud77yY77yY77yT4oiS77yS77yQ!5e0!3m2!1sja!2sjp!4v1471568361263" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        .column.is-full
          %p
            ※『かくれ里』は、LEATHERPORT責任者・井熊（ほぶ）の実家です。かくれ里店内にて、LEATHER PORT取り扱い製品を展示しています（毎週月曜・第3日曜定休）。
            ※事前にアポイントメントを取って頂ければ、LEATHER PORT責任者・井熊（ほぶ）が店内にて対応させていただく事が可能です。各種レザーサンプルやブーツの材料・パーツ（アウトソール、ミッドソール、中底、ウェルト等）も店内にて展示しておりますので、きっと楽しいです。井熊（ほぶ）へのアポイントメントは→
            = link_to 'info_pipinika@leather-port.com', 'mailto:info_pipinika@leather-port.com', style: 'text-decoration: underline;'
        .column.is-full
          = image_tag('access_1.jpg', width: '100%')
          = image_tag('access_2.jpg', width: '100%')
          = image_tag('access_3.jpg', width: '100%')
