%section.section
  .container
    .title
      %h2
        Hobu
    .columns.is-mobile.is-multiline
      .column.is-half-tablet.is-full-mobile
        %p
          こんにちは。LEATHER PORT責任者、井熊と申します。ほぶです！
          <br />
          千葉県在住。 レザー好き、ブーツが大好きです。猫も好きです。 
          <br />
          ブーツが好きなので、ブーツを売るようになりました。ベルトも好きで、ベルトも売るようになりました。
          <br />
          実はこの「ほぶ」という名前ですが、私のTwitterアカウントに由来します。 
          <br />
          LEATHER PORTを立ち上げる前の私は、「ほぶちゃん」というアカウント名で、ただひたすら自分のブーツをTwitterにアップしていました。 いわゆる、趣味アカウントです。 
          <br />
          アイアンブーツの写真をアップしていたところ、 
          <br />
          「そのブーツ何ですか？」 
          <br />
          「ほしい！」 
          <br />
          というメッセージが、多数届くようになりました。 
        %p
          日本では当時私ひとりしか履いていなかった“得たいの知れぬ”、アイアンブーツ。 
          <br />
          自分が大好きなアイアンブーツを、評価してくれる人々は日本にいるのだと感じ、うれしくなりました。 
          <br />
          必然的に、「もっと多くの人にアイアンブーツを履いてもらいたい！」と思うようになった私は、 中国に飛び、アイアンブーツ工房と契約を交わし、 
          <br />
          私自身の屋号であるLEATHER PORTを立ち上げました。
      .column.is-half-tablet.is-full-mobile
        = image_tag('hobu_1.jpg', width: '100%')
      .column.is-full
        %figure
          = image_tag('hobu_2.jpg', width: '100%')
          %figurecaption
            私ほぶのアイアンブーツ第一号、ヨーロピアンブルハイド/ブラックの5515。改良前の、初代ラストです。
      .column.is-full
        %p
          グローバル時代・多様化の時代と呼ばれる昨今、イメージや固定概念にとらわれず、「産地やブランドに関係なく、とにかく良いものを手にれたい！」という方々は、意外と多い気がします。
          <br />
          今後LEATHER PORTは、日本国内外を問わず、たとえ無名だとしても、本当に腕利きの優秀なレザー職人達を探し出し、彼・彼女らにどんどん働きかけていきたいと思います。 
          <br />
          私自身、未知のレザー製品たちに会いたくて仕方がないです。
          <br />
          「単純に良いものを良いと認め、それをほしいと思う人に届ける」。 
          <br />
          「買手売り手だけでなく、生産サイド（職人や工房）も、ちょっぴり幸せになる」。 
          <br />
          「私（ほぶ）自身も、大好きなレザー製品のために日々奔走する」。 
          <br />
          これが、LEATHER PORTのやりたいことです。
        %p
          Twitter:
          = link_to '@hobu_chan', 'https://twitter.com/hobu_chan', style: 'text-decoration: underline;'
        %p
          Facebook:
          %ul
            %li
              = link_to 'Hobu Ikuma', 'https://www.facebook.com/hobu.chan', style: 'text-decoration: underline;'
            %li
              = link_to 'LEATHER PORT', 'https://www.facebook.com/leather0port/', style: 'text-decoration: underline;'
        %p
          オーダー・お問い合わせ：
          = link_to 'info_pipinika@leather-port.com', 'mailto:info_pipinika@leather-port.com', style: 'text-decoration: underline;'
