---
title: LEATHER PORT
---

%section#top-hero.hero.is-light.has-text-centered
  .hero-body
    .container
      .title#top-caption
        %h2
          ここは、世界のどこかに眠る未知なるレザー製品と、
          <br />
          レザー好きの皆様とを繋ぐ港です。
          <br />
          小さな、あるいは大きなロマンを探す旅に、ちょっと出かけてみませんか？
%section.section.product
  .container
    .columns.is-mobile.is-multiline
      .column.is-two-thirds-tablet.is-full-mobile
        %h2.title
          LEATHER PORTとは
      .column.is-one-third-tablet.is-full-mobile
        = image_tag('logo.png', width: '100%', alt: 'logo_top')
    .columns.is-mobile.is-multiline
      .column.is-half-tablet.is-full-mobile
        %p
          －－世界の、どこかで。
          <br />
          未だ名は知られていないかもしれないけれど、
          <br />
          優秀なレザー職人たちのもと生み出される品質確かなレザー製品が、どこかで息をしているはず・・・・・・
          <br />
          皆さんは、そんなことを想像してみたことはありませんか？
      .column.is-one-quarter-tablet.is-half-mobile
        = link_to '/products#iron-boots' do
          %figure.image.has-text-centered
            = image_tag('5515_1.jpg', width: '100%')
            %figcaption
              %h2
                Iron Boots
      .column.is-one-quarter-tablet.is-half-mobile
        = link_to '/products#own-belt' do
          %figure.image.has-text-centered
            = image_tag('own_belt_1.jpg', width: '100%')
            %figcaption
              %h2
                OWN Belt
    .columns.is-mobile.is-multiline
      .column.is-one-quarter-tablet.is-half-mobile
        = link_to '/products#cleaf' do
          %figure.image.has-text-centered
            = image_tag('cleaf_1.jpg', width: '100%')
            %figcaption
              %h2
                C'leaf

      .column.is-half-tablet.is-full-mobile
        %p
          LEATHER PORTは、確かな腕を持つレザー職人たちに直接働きかけ、
          我々自身がPort（港）となることで、

          世界中に眠る心くすぐるレザー製品と、日本の皆様とを結ぶ役割を果たしていきます。
