%section.hero
  .container
    .hero-body
      .title
        アイアンブーツ
      %p
        中国の雄。
      %p
        アイアンブーツは、中国南部に工房がある、６人の職人によるハンドメイドワークブーツブランドです。
      %p
        世界中のあらゆるブーツを解剖、研究し続けてきた責任者兼職人のもと、素材にこだわり、ハンドメイドにこだわり、黙々とハイクオリティを追求し続ける次世代ワークブーツメーカーです。
      %p
        ブーツ製作において最も高い難易度が要求される、
      %p
        手縫いでなくては不可能な『ハンドソーンウェルテッド製法』は、彼らの御家芸。
%section.hero.product
  .columns.is-multiline.is-mobile.is-gapless
    .column.is-half-mobile.is-one-third-tablet
      .title
        = link_to '/products/5515' do
          %figure.image.has-text-centered
            = image_tag('5515_1.jpg')
            %figcaption
              5515
    .column.is-half-mobile.is-one-third-tablet
      .title
        = link_to '/products/devil_dog' do
          %figure.image.has-text-centered
            = image_tag('devil_dog_1.jpg', width: '100%')
            %figcaption
              Devil Dog
    .column.is-half-mobile.is-one-third-tablet
      .title
        = link_to '/products/hephaestus' do
          %figure.image.has-text-centered
            = image_tag('hephaestus_1.jpg', width: '100%')
            %figcaption
              Hephaestus
    .column.is-half-mobile.is-one-third-tablet
      .title
        = link_to '/products/flt' do
          %figure.image.has-text-centered
            = image_tag('flt_1.jpg', width: '100%')
            %figcaption
              FLT
    .column.is-half-mobile.is-one-third-tablet
      .title
        = link_to '/products/flt_imprv' do
          %figure.image.has-text-centered
            = image_tag('flti_1.jpg', width: '100%')
            %figcaption
              FLT改
    .column.is-half-mobile.is-one-third-tablet
      .title
        = link_to '/products/policeman' do
          %figure.image.has-text-centered
            = image_tag('policeman_1.jpg', width: '100%')
            %figcaption
              Policeman
