%section.hero
  .container
    .hero-body
      .title
        アイアンブーツ
      %p
        中国の雄。
      %p
        アイアンブーツは、中国南部に工房がある、６人の職人によるハンドメイドワークブーツブランドです。
      %p
        世界中のあらゆるブーツを解剖、研究し続けてきた責任者兼職人のもと、素材にこだわり、ハンドメイドにこだわり、黙々とハイクオリティを追求し続ける次世代ワークブーツメーカーです。
      %p
        ブーツ製作において最も高い難易度が要求される、
      %p
        手縫いでなくては不可能な『ハンドソーンウェルテッド製法』は、彼らの御家芸。
%section.hero.product
  .title
    = link_to '/products/5515' do
      %figure.image.has-text-centered
        = image_tag('DSC_0442.JPG', width: '100%')
        %figcaption
          5515
%hr
%section.hero.product
  .title
    = link_to '/products/devil_dog' do
      %figure.image.has-text-centered
        = image_tag('IMG_0698.JPG', width: '100%')
        %figcaption
          Devil Dog
%hr
%section.hero.product
  .title
    = link_to '/products/hephaestus' do
      %figure.image.has-text-centered
        = image_tag('IMG_0698.JPG', width: '100%')
        %figcaption
          Hephaestus
%hr
%section.hero.product
  .title
    = link_to '/products/flt' do
      %figure.image.has-text-centered
        = image_tag('IMG_0698.JPG', width: '100%')
        %figcaption
          FLT
%hr
%section.hero.product
  .title
    = link_to '/products/flt_imprv' do
      %figure.image.has-text-centered
        = image_tag('IMG_0698.JPG', width: '100%')
        %figcaption
          FLT改
%hr
%section.hero.product
  .title
    = link_to '/products/policeman' do
      %figure.image.has-text-centered
        = image_tag('IMG_0698.JPG', width: '100%')
        %figcaption
          Policeman
